<section class="monthly-details" id="monthly-details">


    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nov '23</th>
      <th scope="col">₹</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
   
  </tbody>
</table>

</section>