<section class="user-write container-fluid">

  <div class="row mx-auto">

    <div class="col-md-10 mx-auto ">
 
      <div class="row mx-auto">
        <h3 class="mx-auto expenserwriteheader">Enter Expense Details</h3>
      </div>

      <form class="form-group" action="/user-write" method="post" enctype="multipart/form-data">

        <div id="content">

        </div>
        <div class="row mx-auto mb-2">
          <input type="text" name="username" id="username" value="{{user.username}}">
          <input type="text" name="timestamp" id="timestamp">
          <input type="text" name="datestamp" id="datestamp">

        </div>
        
<section class="row mx-auto mt-2">
    <div class="col-md-6 mx-auto">
        <form class="row mx-auto" method="POST" action="/user-write" enctype="multipart/form-data">
            <div class="form-group mb-2">
                <label  for="inputItem" class="form-label">Item</label>
                <select  id="inputItem" name="inputItem" class="form-control" required>
                    <option>Groceries(Market)</option>
                    <option>BlinkIt</option>
                    <option>Zepto</option>
                    <option>Other(online)</option>

                </select>
            </div>
            <div class="form-group  mb-2">
                <label  for="inputItems" class="form-label">Items</label>
                <input required  type="text" placeholder="brinjal,curd,chillies" name="inputItems"
                    class="form-control" id="inputItems">
            </div>
            <div class="form-group  mb-2">
                <label  for="inputAmount" class="form-label">Amount</label>
                <input required min="0" type="number" name="inputAmount" class="form-control" id="inputAmount">
            </div>
             <div class="form-group  mb-2">
                <label  for="dateOfPurchase" class="form-label">Date Of Purchase</label>
                <input required type="date" name="dateOfPurchase" class="form-control" id="dateOfPurchase">
            </div>
            <div class="form-group  mb-2">
                <label  for="inputRemarks" class="form-label">Remarks</label>
                <textarea required  type="text" name="inputRemarks" class="form-control" id="inputRemarks"></textarea>
            </div>
               <div class="upload-wrapper">
                <label  for="inputImage" class="upload-label">Upload Image</label>
                <input  type="file" name="inputImage" class="form-control" id="inputImage">
            </div>
             {{!-- <div class="form-group row mb-2">
                <label class="col-md-6" for="file" class="form-label">Upload screenshot</label>
                <input class="col-md-6 b-primary-1" type="file" name="file" accept=".jpg, .png, .pdf" class="form-control" id="date">
            </div> --}}



           
                <button type="submit" class="btn submitbtn d-block w-100 mt-2 text-light">Enter Data</button>
       
        </form>
    </div>
</section>
        <script>
          var timeStampInput = document.getElementById('timestamp');
          var usernameInput = document.getElementById('username');
          var dateStampInput = document.getElementById('datestamp');
          var content = document.getElementById('markdowncontent');
          var date = new Date();
          timeStampInput.value = date.toString().substr(16, 9);
          dateStampInput.value = date.toLocaleDateString();
          usernameInput.style.display = 'none';
          timeStampInput.style.display = 'none';
          dateStampInput.style.display = 'none';


        </script>
        <script>

        </script>

        {{!-- <button class="btn form-control mt-4" type="submit">Submit</button> --}}
      </form>
    </div>
  </div>

</section>