*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  position:relative;
  
}

:root{
 --bgClr:#000000;
 --secClr:#0f9eea;
 --crdClr:#121212;

}
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Poppins&display=swap');

body {
  overflow-x:hidden ;
  font-family: 'Hubballi', cursive;
  /* background-color: var(--bgClr); */
/* font-family: 'Poppins', sans-serif; */
}

.container-fluid{
  width:100%;
  min-height:100vh;
  padding-top:20px;
}




@media only screen and (max-width:540px){
  body{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  }
  .noAccount h2{
    font-size:17px !important;
  }
}